<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/images/technicalmickey.png" type="image/x-icon">
</head>

<body class="bg-zinc-950 w-full text-white">
    <header class="w-full py-5 px-4 md:px-12 flex justify-between items-center fixed top-0 z-50">
        <div class="flex items-center gap-2">
            <img src="/images/technicalmickey.png" alt="" class="w-10 h-10 rounded-full">
            <h1 class="text-xl">Technical <span class="text-cyan-400">Mickey</span></h1>
        </div>
        <nav class="hidden md:flex items-center gap-8">
            <a class="text-zinc-200 hover:text-cyan-500 transition-colors" href="/">Home</a>
            <a class="text-zinc-200 hover:text-cyan-500 transition-colors" href="/about-us">About Us</a>
            <a class="text-zinc-200 hover:text-cyan-500 transition-colors" href="/courses">Our Courses</a>
            <a class="text-zinc-200 hover:text-cyan-500 transition-colors" href="/blog">Blog</a>
            <a class="text-zinc-200 hover:text-cyan-500 transition-colors" href="/contact-us">Contact Us</a>
            <a href="/login">
            <button class="relative inline-flex shrink-0 text-md font-medium text-zinc-200"><span
                    class="z-10 inline-flex h-full w-full items-center justify-center rounded-md bg-zinc-950 px-3 py-1.5 ring-1 ring-zinc-400/10 transition hover:ring-zinc-400/40 max-md:hidden">Login</span><span
                    class="z-10 inline-flex h-full w-full items-center justify-center rounded-md bg-zinc-950 px-2 py-1.5 ring-1 ring-zinc-400/10 transition hover:ring-zinc-400/40 md:hidden"><svg
                        xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevron-right">
                        <path d="m9 18 6-6-6-6"></path>
                    </svg></span><span class="absolute h-full w-full blur-[1rem] motion-safe:animate-pulse"
                    style="background:linear-gradient(90deg, rgba(255, 214, 0, 0.2) 0%, rgba(255, 46, 0, 0.3) 10%, rgba(219, 0, 255, 0.5) 25%, rgb(97, 0, 255) 45%, rgb(0, 255, 117) 65%, rgb(0, 255, 255) 80%, rgba(20, 0, 255, 0.3) 100%)"></span></button>
                    </a>
        </nav>
        <div class="md:hidden flex items-center">
            <button id="menu-button" class="text-zinc-200 hover:text-cyan-500 transition-colors focus:outline-none">
                <!-- Icon for the menu button (hamburger icon) -->
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7">
                    </path>
                </svg>
            </button>
        </div>
    </header>

    <!-- Mobile menu -->
    <div id="mobile-menu" class="pt-32 pb-64 hidden md:hidden bg-[#18181b] p-4 flex flex-col gap-5">
        <a class="block text-zinc-200 hover:text-cyan-500 transition-colors mb-2" href="/">Home</a>
        <a class="block text-zinc-200 hover:text-cyan-500 transition-colors mb-2" href="/about-us">About Us</a>
        <a class="block text-zinc-200 hover:text-cyan-500 transition-colors mb-2" href="/courses">Our Courses</a>

        <a class="block text-zinc-200 hover:text-cyan-500 transition-colors mb-2" href="/blog">Blog</a>
        <a class="block text-zinc-200 hover:text-cyan-500 transition-colors mb-2" href="/contact-us">Contact Us</a>
        <a href="/login">
        <button class="relative inline-flex shrink-0 text-sm font-medium text-zinc-200"><span
                class="z-10 inline-flex h-full w-full items-center justify-center rounded-md bg-zinc-950 px-5 py-2 ring-1 ring-zinc-400/10 transition hover:ring-zinc-400/40 max-md:hidden">Login</span><span
                class="z-10 inline-flex h-full w-full items-center justify-center rounded-md bg-zinc-950 px-2 py-1.5 ring-1 ring-zinc-400/10 transition hover:ring-zinc-400/40 md:hidden">Login</span><span class="absolute h-full w-full blur-[1rem] motion-safe:animate-pulse"
                style="background:linear-gradient(90deg, rgba(255, 214, 0, 0.2) 0%, rgba(255, 46, 0, 0.3) 10%, rgba(219, 0, 255, 0.5) 25%, rgb(97, 0, 255) 45%, rgb(0, 255, 117) 65%, rgb(0, 255, 255) 80%, rgba(20, 0, 255, 0.3) 100%)"></span></button>
            </a>
    </div>