<%- include('partials/header') %>

<!-- Hero Section -->
<div class="relative w-full h-screen bg-transparent flex items-center justify-center text-center text-black">
   <!-- SVG Background Pattern -->
   <svg class="absolute inset-0 -z-10 h-full w-full stroke-white/5 [mask-image:radial-gradient(75%_50%_at_top_center,white,transparent)]"
   aria-hidden="true">
   <defs>
     <pattern id="hero" width="80" height="80" x="50%" y="-1" patternUnits="userSpaceOnUse">
       <path d="M.5 200V.5H200" fill="none"></path>
     </pattern>
   </defs>
   <rect width="100%" height="100%" stroke-width="0" fill="url(#hero)"></rect>
 </svg>
 <svg class="absolute inset-0 -z-10 h-full w-full stroke-white/5 [mask-image:radial-gradient(75%_50%_at_top_center,white,transparent)]"
 aria-hidden="true">
 <defs>
   <pattern id="hero" width="80" height="80" x="50%" y="-1" patternUnits="userSpaceOnUse">
     <path d="M.5 200V.5H200" fill="none"></path>
   </pattern>
 </defs>
 <rect width="100%" height="100%" stroke-width="0" fill="url(#hero)"></rect>
</svg>
<svg class="absolute inset-0 -z-10 h-full w-full stroke-white/5 [mask-image:radial-gradient(75%_50%_at_top_center,white,transparent)]"
aria-hidden="true">
<defs>
 <pattern id="hero" width="80" height="80" x="50%" y="-1" patternUnits="userSpaceOnUse">
   <path d="M.5 200V.5H200" fill="none"></path>
 </pattern>
</defs>
<rect width="100%" height="100%" stroke-width="0" fill="url(#hero)"></rect>
</svg>

  
  <!-- Hero Content -->
  <div class="max-w-2xl w-3xl px-4">
    <h1 class="text-4xl bg-gradient-to-br from-white to-zinc-700 bg-clip-text text-10xl/[1.07] font-base tracking-tight text-transparent md:text-7xl/[1.07] text-center mb-7">Turning Passion Into Programming</h1>
    <p class="text-lg md:text-2xl font-light max-w-2xl mx-auto text-zinc-400">
        We empower future innovators with hands-on coding education that goes beyond the classroom, fostering creativity and real-world skills.
    </p>
    <button class="group relative rounded-full p-px text-lg text-zinc-400 duration-300 hover:text-zinc-100 hover:shadow-glow mt-10" type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="radix-:Rjljaqla:" data-state="closed"><span class="absolute inset-0 overflow-hidden rounded-full"><span class="absolute inset-0 rounded-full bg-[image:radial-gradient(75%_100%_at_50%_0%,rgba(56,189,248,0.6)_0%,rgba(56,189,248,0)_75%)] opacity-0 transition-opacity duration-500 group-hover:opacity-100"></span></span><div class="relative px-10 z-10 rounded-full bg-zinc-950 px-4 py-1.5 ring-1 ring-white/10">Our Courses</div><span class="absolute -bottom-0 left-[1.125rem] h-px w-[calc(100%-2.25rem)] bg-gradient-to-r from-cyan-400/0 via-cyan-400/90 to-cyan-400/0 transition-opacity duration-500 group-hover:opacity-40"></span></button>
  </div>
</div>


<%- include('partials/footer') %>
